@{
    ViewBag.Title = "Dashboard";
}

<div class="pagetitle">
    <h1>@ViewBag.Title</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Home")">@ViewBag.Title</a></li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
</section>